


.card_template {
    width: 33.33%;
    display: flex;
    background-color: #f6f8fa;
    margin: 0.5rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    justify-content: space-between;
    padding: 12px;
    flex-direction: column;
    overflow: scroll;
    height: 70vh;
  }

  .container-progress {
    display: flex;
    justify-content: space-between;
  }

  .circle_count {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 3px;
    background-color: rgba(128, 128, 128, 0.322);
    width: 15px;
  }