.headerLogo {
  height: 30px;
  width: 30px;
  margin: 7px 0px 15px 20px;
}
.headerContainer {
  height: 50px;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: #24292e;
}
.headerText {
  margin: 0px auto;
  font-weight: bold;
  color: white;
}
.logo_Version{
  width: 10px;
 margin-right: 5px;
 text-align: center;
 border: 1px solid white;
}
.searchContainer {
  display: grid;
  align-content: start;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin: 20px 10px;
}
.info {
  line-height: 1.6rem;
}
.filter {
  text-align: right;
  grid-column: 2;
  margin-right: 30px;
  
 
}
input.Iput-src{
 padding: 5px 10px 5px 35px;
 outline: none;
 font-size: 1rem;
 border-radius: 5px;
 border-color: rgb(184, 183, 183);
 color: rgb(10, 10, 10);
 background: rgb(245, 245, 245)  url("../../asset/search-icon.png") no-repeat 9px  center;
 width: 350px;
 transition: all 9s;
}

